html,
body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

body {
  min-width: 1200px;
  height: 100vh;
  line-height: 1.5;
  background-image: linear-gradient(to top, #008e9d, #00a1ac);
}

h1 {
  font-size: 1.5rem;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

::selection {
  background-color: #ff8008;
}
